<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bader Notes</title>
</head>
<body>
    <!-- <h1>Welcome</h1> -->
    {% extends 'base.html' %}
{% block content %}

{% for n in N %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title">My Note</h1>
          <h1>
            {{n.title}}
        </h1>
        <h3>
            {{n.Date}}
          <a href="{% url 'mybody' n.id %}" class="btn btn-primary">more info</a>
        </div>
      </div>
      
{% endfor %}



{% endblock %}
</body>
</html>